In [1]:
#Imports
%matplotlib inline
import pandas
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import numpy as np

pandas.set_option('display.max_columns', None)  
pandas.set_option('display.expand_frame_repr', False)
pandas.set_option('display.precision', 3)

In [2]:
data = pandas.read_csv('./data/Train.csv', sep=',', na_values=".")
print(data[0:10])

   Gender  Height (cm)  Weight (kg) Blood Pressure (s/d)  Cholesterol Level (mg/dL)     BMI  Blood Glucose Level (mg/dL)  Bone Density (g/cm²)  Vision Sharpness  Hearing Ability (dB) Physical Activity Level Smoking Status Alcohol Consumption        Diet Chronic Diseases Medication Use Family History  Cognitive Function Mental Health Status Sleep Patterns  Stress Levels  Pollution Exposure  Sun Exposure Education Level Income Level  Age (years)  Age_group
0    Male      171.148       86.185              151/109                    259.466  29.423                      157.653                 0.133             0.200                58.786                Moderate         Former                 NaN    Low-carb              NaN            NaN            NaN              44.059                 Good       Insomnia          2.797               5.142         7.109             NaN       Medium           89          2
1    Male      172.946       79.642              134/112                    263.630  26.627                      118.508                 0.630             0.267                54.635                     Low        Current          Occasional    Balanced     Hypertension            NaN  Heart Disease              45.312                 Good         Normal          9.340               7.273         3.918   Undergraduate       Medium           77          2
2  Female      155.945       49.167              160/101                    207.846  20.218                      143.588                 0.473             0.249                54.565                Moderate          Never                 NaN    Balanced     Hypertension        Regular   Hypertension              56.247                 Poor       Insomnia          9.235               8.500         5.393             NaN       Medium           70          2
3  Female      169.078       56.018               133/94                    253.284  19.595                      137.449                 1.184             0.514                79.723                Moderate          Never                 NaN    Balanced         Diabetes     Occasional   Hypertension              55.196                 Poor       Insomnia          4.693               7.556         2.746             NaN          Low           52          1
4  Female      163.758       73.966              170/106                    236.120  27.582                      145.329                 0.435             0.307                52.479                     Low         Former            Frequent  Vegetarian              NaN            NaN            NaN              53.023                 Good         Normal          4.039               9.429         3.878   Undergraduate         High           79          2
5    Male      174.892       79.671               134/75                    198.719  26.047                      100.928                 1.435             0.667                27.908                     Low        Current                 NaN    Balanced         Diabetes        Regular       Diabetes              71.339                 Fair       Insomnia          3.139               7.282         4.413   Undergraduate       Medium           29          0
6    Male      178.587       86.522              178/109                    246.340  27.129                      129.977                 0.577             0.200                63.363                Moderate        Current                 NaN    Balanced              NaN     Occasional       Diabetes              48.053                 Good       Insomnia          8.355               5.552         6.356     High School          Low           76          2
7  Female      168.003       66.524               144/79                    222.462  23.569                      116.806                 1.618             0.717                39.530                Moderate          Never            Frequent  Vegetarian              NaN            NaN            NaN              83.227                 Good      Excessive          2.583               0.181         5.927             NaN       Medium           26          0
8  Female      164.547       74.405              152/119                    204.236  27.481                      137.022                 1.047             0.506                54.105                Moderate         Former          Occasional    Low-carb    Heart Disease     Occasional       Diabetes              64.703                 Fair       Insomnia          1.392               9.946         5.639     High School         High           50          1
9  Female      164.839       64.272              153/109                    268.599  23.654                      130.056                 0.321             0.200                65.601                Moderate         Former                 NaN    High-fat    Heart Disease     Occasional   Hypertension              57.825                 Poor      Excessive          7.273               7.025         4.314     High School         High           77          2

In [3]:
data.describe(include='all')

        Gender  Height (cm)  Weight (kg) Blood Pressure (s/d)  Cholesterol Level (mg/dL)       BMI  Blood Glucose Level (mg/dL)  Bone Density (g/cm²)  Vision Sharpness  Hearing Ability (dB) Physical Activity Level Smoking Status Alcohol Consumption      Diet Chronic Diseases Medication Use Family History  Cognitive Function Mental Health Status Sleep Patterns  Stress Levels  Pollution Exposure  Sun Exposure Education Level Income Level  Age (years)  Age_group
count     3000     3000.000     3000.000                 3000                   3000.000  3000.000                     3000.000              3000.000          3000.000              3000.000                    3000           3000                1799      3000             1701           1802           1549            3000.000                 3000           3000       3000.000            3000.000      3000.000            2373         3000     3000.000   3000.000
unique       2          NaN          NaN                 1606                        NaN       NaN                          NaN                   NaN               NaN                   NaN                       3              3                   2         4                3              2              3                 NaN                    4              3            NaN                 NaN           NaN               3            3          NaN        NaN
top     Female          NaN          NaN               135/93                        NaN       NaN                          NaN                   NaN               NaN                   NaN                Moderate         Former          Occasional  Balanced     Hypertension        Regular       Diabetes                 NaN                 Good         Normal            NaN                 NaN           NaN   Undergraduate       Medium          NaN        NaN
freq      1511          NaN          NaN                    9                        NaN       NaN                          NaN                   NaN               NaN                   NaN                    1407           1181                1057      1183              676           1063            645                 NaN                 1073           1519            NaN                 NaN           NaN             884         1223          NaN        NaN
mean       NaN      168.591       72.537                  NaN                    234.030    25.550                      126.654                 0.932             0.475                47.016                     NaN            NaN                 NaN       NaN              NaN            NaN            NaN              63.868                  NaN            NaN          5.477               5.029         5.956             NaN          NaN       53.486      1.219
std        NaN        9.293       13.191                  NaN                     24.521     4.367                       18.226                 0.444             0.210                14.336                     NaN            NaN                 NaN       NaN              NaN            NaN            NaN              11.756                  NaN            NaN          2.585               2.871         3.475             NaN          NaN       20.570      0.721
min        NaN      141.131       32.538                  NaN                    148.812    12.050                       69.867                -0.220             0.200                 0.000                     NaN            NaN                 NaN       NaN              NaN            NaN            NaN              30.382                  NaN            NaN          1.000               0.006         0.002             NaN          NaN       18.000      0.000
25%        NaN      161.630       63.223                  NaN                    216.757    22.454                      114.393                 0.561             0.282                36.735                     NaN            NaN                 NaN       NaN              NaN            NaN            NaN              55.648                  NaN            NaN          3.222               2.607         2.873             NaN          NaN       36.000      1.000
50%        NaN      168.216       71.449                  NaN                    234.377    25.352                      126.802                 0.940             0.462                46.964                     NaN            NaN                 NaN       NaN              NaN            NaN            NaN              64.015                  NaN            NaN          5.497               5.096         5.957             NaN          NaN       53.000      1.000
75%        NaN      175.523       81.703                  NaN                    250.647    28.404                      139.377                 1.295             0.639                56.829                     NaN            NaN                 NaN       NaN              NaN            NaN            NaN              72.087                  NaN            NaN          7.680               7.476         8.991             NaN          NaN       72.000      2.000
max        NaN      198.112      123.599                  NaN                    331.301    43.330                      185.736                 2.000             1.063                94.004                     NaN            NaN                 NaN       NaN              NaN            NaN            NaN             106.480                  NaN            NaN          9.996               9.998        11.993             NaN          NaN       89.000      2.000

In [4]:
#Comprovar quins camps tenen valors nulls
data.isnull().any()

Gender                         False
Height (cm)                    False
Weight (kg)                    False
Blood Pressure (s/d)           False
Cholesterol Level (mg/dL)      False
BMI                            False
Blood Glucose Level (mg/dL)    False
Bone Density (g/cm²)           False
Vision Sharpness               False
Hearing Ability (dB)           False
Physical Activity Level        False
Smoking Status                 False
Alcohol Consumption             True
Diet                           False
Chronic Diseases                True
Medication Use                  True
Family History                  True
Cognitive Function             False
Mental Health Status           False
Sleep Patterns                 False
Stress Levels                  False
Pollution Exposure             False
Sun Exposure                   False
Education Level                 True
Income Level                   False
Age (years)                    False
Age_group                      False
dtype: bool

In [5]:
values = {"Alcohol Consumption": 'Never', "Chronic Diseases": 'No', "Medication Use": 'No', "Family History": 'No Disease', "Education Level": 'No Education'}
data = data.fillna(value=values)

In [7]:
data.groupby('Age_group').boxplot(column=[],meanline=False,showmeans=True,return_type='dict')
#'Height (cm)', 'Weight (kg)', 'Cholesterol Level (mg/dL)', 'BMI'

TypeError: type() takes 1 or 3 arguments